.modal-backdrop {
    background-color: rgba(0,0,0,0.95);
}

.form-horizontal .form-group {
    margin-bottom: 0;
}
.input-group label {
    background: #6c7ae0;
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
}

/* td {
    width: 100% !important;
}
tr {
    width: 100% !important;
}
 */

  