<div class="clearfix" id="edit-modal-user-views">
    <div class="modal-header model-grey-color">
        <h4 class="modal-title">Create Relationship </h4>
    </div>

    <!-- <div class="col-md-10">
        aqui
        <ul class="phones">
            <li ng-repeat="class in classes ">
                2
                <p>{{ class }}</p>
            </li>
        </ul>
    </div> -->

    <div class="modal-body">

        <form class="form-horizontal" role="form">
            <!-- <div class="form-group">
                <div class=" input-group col-sm-12">
                    <label
                        for="name"
                        class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label"
                    >
                        Name:
                    </label>
                    <input
                        id="name"
                        name="name"
                        type="text"
                        ng-model="relationship.name"
                        placeholder="Name"
                        class="form-control col-xl-9 col-lg-8 col-md-8 col-sm-7"
                    />
                </div>
            </div> -->
            <div class="form-group">
                <div class=" input-group col-sm-12">
                    <label for="teacher_name" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">
                        Teacher:
                    </label>


                    <select name="teacher_name" id="teacher_name"
                        ng-options="option.name for option in teachers track by option.id" ng-model="teacher_selected"
                        ng-change="setMatter()"></select>


                </div>
            </div>
            <div class="form-group">
                <div class=" input-group col-sm-12">
                    <label for="matter" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">
                        Matter:
                    </label>


                    <select name="matter" id="matter" ng-options="matter.name for matter in matters track by matter.id"
                        ng-model="matter_selected"></select>


                </div>
            </div>

            <!-- <h2>Matter: {{relationship_map[teacher_selected.id].matter_name}}</h2> -->
            <!-- <h2>Matter: {{matter_selected | json}}</h2> -->



            <div ng-repeat="degree in relationship_map[teacher_selected.id].degrees">



                <div class="form-group">
                    <div class=" input-group col-sm-12">
                        <label class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">
                            Degree:
                        </label>


                        <select name="degree" disabled>
                            <option value="degree.degreeId">{{degreesMap[degree.degreeId]}}</option>
                        </select>


                    </div>
                    <div ng-repeat="class in classes.classes">
                        <!-- <h5>
                             {{class.name}}

                            </h5> -->
                        <!-- <label>{{class.name}}
                                    <input type="checkbox" >
                            </label> -->

                        <!-- <md-checkbox ng-checked="isChecked(class.id, degree.classes_map)" > -->
                        <md-checkbox ng-model="degree.classes_map[class.id].checked" value="class.id">
                            {{class.name}}
                        </md-checkbox>

                    </div>
                </div>




            </div>
            <!-- <div class="form-group">
                <div class=" input-group col-sm-12">
                    <label
                        for="teacher_name"
                        class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label"
                    >
                        Teacher:
                    </label>


                    <select
                        name="teacher_name"
                        id="teacher_name"
                        ng-options="option.name for option in teachers track by option.id"
                        ng-model="teacher_selected"
                        ></select>


                </div>
            </div> -->
            <!-- <div class="form-group">
                <div class=" input-group col-sm-12">
                    <label
                        for="degree_name"
                        class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label"
                    >
                        Degree:
                    </label>


                    <select
                        name="degree_name"
                        id="degree_name"
                        ng-options="option.name for option in degrees track by option.id"
                        ng-model="degree_selected"
                        ></select>
                </div>
            </div>
            <div class="form-group">
                <div class=" input-group col-sm-12">
                    <label
                        for="class_name"
                        class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label"
                    >
                        Class:
                    </label>
                    <select
                        name="class_name"
                        id="class_name"
                        ng-options="option.name for option in classes track by option.id"
                        ng-model="class_selected"
                    ></select>

                    </select>
                </div>
            </div> -->
        </form>
    </div>
    <!-- <div class="modal-footer model-grey-color">
        <button class="btn btn-success" ng-click="updateStudent()">
            <ion-icon name="save"></ion-icon>Update
        </button>
        <button class="btn btn-danger" ng-click="cancelModal()">
            <ion-icon name="close"></ion-icon>Close
        </button>
    </div> -->
</div>