<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <p>
                Search by Name:
                <input ng-model="$ctrl.query" />
            </p>

            <p>
                Search by Class:
                <input ng-model="$ctrl.query1" />
            </p>

            <p>
                Search by Degree:
                <input ng-model="$ctrl.query2" />
            </p>
            <p>
                Sort by:
                <select ng-model="$ctrl.orderProp">
                    <option value="teacher_name">Name</option>
                    <option value="matter_name">Matter</option>
                    <option value="degree_name">Degree</option>
                    <option value="class_name">Class</option>
                </select>
            </p>
            

            <!-- <div  ng-repeat="teacher in $ctrl.relationships ">
                <div>{{teacher | json}}</div>
            </div> -->
            <!-- <div class="table teachers">
                <div class="row header">
                    <div class="cell">
                        Teacher Name
                    </div>
                    <div class="cell">
                        Matter
                    </div>
                </div>

                <div class="row"
                    ng-repeat="teacher in $ctrl.teachers | filter:$ctrl.query | filter:$ctrl.query1 | filter:$ctrl.query2 | orderBy:$ctrl.orderProp">
                    <div class="cell" data-title="Student Name">
                        {{ teacher.name }}
                    </div>
                    <div class="cell" data-title="Degree">
                        {{ teacher.matterId }}
                    </div>
                    <div class="row"
                        ng-repeat="degree in teacher.degrees | filter:$ctrl.query | filter:$ctrl.query1 | filter:$ctrl.query2 | orderBy:$ctrl.orderProp">
                        <div class="cell" data-title="Degree">
                            {{ degree.degree_name }}
                        </div>
                    </div>
                    <div class="cell" data-title="Actions">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-primary" ng-click="$ctrl.editRecord(teacher)">
                                <ion-icon name="create"></ion-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- Division -->
            <table class="table main_table teachers">


                <tr class="row header">
                    <th>Teacher</th>
                    <th>Matter</th>
                    <th>Relation</th>
                </tr>

                <tbody style="background: #fff;"
                    ng-repeat="teacher in $ctrl.relationships | filter:$ctrl.query | filter:$ctrl.query1  | orderBy:$ctrl.orderProp">
                    <td class="teacher_name">{{teacher.teacher_name }}
                    </td>
                    <td>{{teacher.matter_name }}</td>
                    <!-- <td>{{teacher.degrees.length}}</td> -->

                    <!-- ng-if="teacher.degrees.length > 0" -->
                   
                    <td class="subTable"  ng-if="teacher.degrees.length > 0" ->
                        <table cellpadding="0" cellspacing="0">
                            <tr class="subTable_header">
                                <th>Degree</th>
                                <th>Classes</th>
                            </tr>
                            <tbody
                                ng-repeat="degree in teacher.degrees | filter:$ctrl.query2 | orderBy:$ctrl.orderProp">
                                <tr >
                                    <td>{{degree.degree_name }}
                           
                                            <div class="show_students" >
                                                    <button
                                                    id="show_students"
                                                        type="button"
                                                        class="btn btn-primary"
                                                        ng-click="$ctrl.showStudents(degree.degreeId, degree.degree_name)"
                                                    >
                                                        <ion-icon name="book"></ion-icon>
                                                    </button>
                                                </div>
                                    </td>
                                    <td class="class_name" >{{degree.classes_names}}</td>
                                    <!-- <td>{{degree.classes }}</td> -->
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td ng-if="!(teacher.degrees.length > 0)" >-</td>
                    
                    </tr>
                </tbody>



            </table>



        </div>
    </div>
</div>